
  
.content {
    padding: 7rem 0; 
}

.form-block {
    background: #fff;
    padding: 60px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); 
}

.set-mid {
    display: block !important;
    margin: auto;
}

.arrow-position {
    top: 68px;
    left: 4%;
}



  