.bg-gray {
    background-color: #f0f2f5;
}

.fs-0 {
    font-size: 4rem;
}
.fs-7 {
    font-size: 1rem;
}

.like-style {
    height: 50px;
    z-index: 5;
    padding-left: 3%;
}

.avatar-style {
    width: 38px; 
    height: 38px; 
    object-fit: cover;
}
 
.post-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.pointer {
    cursor: pointer;
}

.post__comment .accordion-button::after {
    margin-left: 0 !important;
    display: none !important;
}

.post__comment .accordion-button:hover {
    background: transparent !important;
    border-color: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
    background: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-text {
    width: 100%;
    text-align: right;
}

.show-space {
    white-space: pre-line;
}

.blue-color {
    color: #007bff;
}

#like-text, #comment-text {
    margin-left: 5px !important;
}